<h1>ユーザー一覧</h1>
<p>CSVダウンロード</p>

<table>
	<thead>
	<tr>
		<th>ID</th>
		<th>作成日時</th>
		<th>更新日時</th>
		<th>ユーザーID</th>
		<th>キャンペーン参加</th>
	</tr>
	</thead>

<% @user.each do |user| %>

	<tr>
		<td><%= user.id %></td>
		<td><%= user.created_at.to_s(:datetime_jp) %></td>
		<td><%= user.updated_at.to_s(:datetime_jp) %></td>
		<td><%= user.user_id %></td>
		<td><% if user.campaign_flag == true %>
			<%= "有" %>
			<% else %>
			<%= "無" %>
			<% end %>			
		</td>
	</tr>

<% end %>

</table>
