<h1>ユーザー一覧</h1>
<%= link_to "csvで出力する",index_path(format: :csv) %>
<%= link_to "キャンペーン参加をリセット",reset_campaign_path,method: :post,data: {confirm: 'キャンペーン参加状況をリセットします。よろしいですか？'}  %>

<table>
	<thead>
	<tr>
		<th>ID</th>
		<th>作成日時</th>
		<th>更新日時</th>
		<th>ユーザーID</th>
		<th>キャンペーン参加</th>
		<th>ヘアケア</th>
		<th>スキンケア</th>
		<th>ボディケア</th>
		<th>健康食品</th>
		<th>香水・アロマ</th>
		<th>アルコール</th>
	</tr>
	</thead>

<% @users.each do |user| %>

	<tr>
		<td><%= user.id %></td>
		<td><%= user.created_at.to_s(:datetime_jp) %></td>
		<td><%= user.updated_at.to_s(:datetime_jp) %></td>
		<td><%= user.user_id %></td>
		<td><% if user.campaign_flag == true %>
			<%= "有" %>
			<% else %>
			<%= "無" %>
			<% end %>			
		</td>
		<td>
			<% if user.haircare_flag == true %>
			<%= "OK" %>
			<% else %>
			<%= "NG" %>
			<% end %>
		</td>
		<td>
			<% if user.skincare_flag == true %>
			<%= "OK" %>
			<% else %>
			<%= "NG" %>
			<% end %>
		</td>
		<td>
			<% if user.bodycare_flag == true %>
			<%= "OK" %>
			<% else %>
			<%= "NG" %>
			<% end %>
		</td>
		<td>
			<% if user.healthfood_flag == true %>
			<%= "OK" %>
			<% else %>
			<%= "NG" %>
			<% end %>
		</td>
		<td>
			<% if user.perfume_flag == true %>
			<%= "OK" %>
			<% else %>
			<%= "NG" %>
			<% end %>
		</td>
		<td>
			<% if user.alcohol_flag == true %>
			<%= "OK" %>
			<% else %>
			<%= "NG" %>
			<% end %>
		</td>
	</tr>

<% end %>

</table>
